{% extends 'bases/addprojectbase.html' %}

{% load static %}

<!-- {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %} -->

{% block content %}

{% if messages %}
<div id="messages"
  style="width: 80%; height: fit-content; color: rgb(39, 217, 241); background: rgb(174, 238, 235); margin-top: 10px; margin-left: 75px; padding: 20px; text-align: center; border-radius: 10px;">
  {% for message in messages %}
  {% if message.tags %} {% endif %} {{ message }}
  {% endfor %}
</div>
{% endif %}

  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>

          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          If you don't have account  <a href="{% url 'password_reset' %}" style="color: cornflowerblue;">Reset Password</a> / <a href="{% url 'home' %}" class="btn btn-warning"><< cansel</a>

        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">Forgot your password?</a>
        </small>
      </div>
    </div>
  </div>
{% endblock %}