{% extends 'base.html' %}

{% load widget_tweaks %}


{% block content %}

{% if messages %}
<div id="messages"
    style="width: 80%; height: fit-content; color: green; background: lightgreen; margin-top: 10px; margin-left: 25px; padding: 20px; text-align: center; border-radius: 10px;">
    {% for message in messages %}
    {% if message.tags %} {% endif %} {{ message }}
    {% endfor %}
</div>
{% endif %}



<div class="add-school"
    style="width: 30%; padding: 10px; border: 1px solid rgb(87, 86, 86); border-radius: 12px; margin-left: 20%; float: center; margin-top: 17%; margin-right: 10%;">
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form }} -->
        <div class="form-group">
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">ADD DEPARTMENT</button>
    </form>
</div>

{% endblock %}