{% extends 'bases/dashboard.html' %}
{% load widget_tweaks %}
{% load static %}

        {% block content %}
        
        <div class="card mx-auto mb-5 p-2 " style="width: 24rem; margin-top: -90vh">
                <div class="card-body">
                        <div class="card-header">
                                <label for="exampleFormControlFile1">Add project in deprtment</label>  
                              </div>
                  
                  <form method="POST" action="" enctype="multipart/form_data">
                    <div class="form-group">
                       
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                  
                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {{ field|add_class:'form-control' }}
                          {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% endfor %}
                  
                    <button type="submit" class="btn btn-success">Add</button>
                  </div>
                
                </form> 
                </div>
              </div>  
      
      {% endblock %}