{% extends 'bases/dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
	{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% endblock %}

{% block content %}
<div class="wrapper">

		<!-- Sidebar - -->
		<nav class ="bg-dark text-white fixed-left" id="sidebar" style="width: 100px; margin-top: 50px; height:fit-content; padding:20px; margin-bottom: 40px;">
						<div class="bg-dark text-white">
							<h5>Thanks {{ user.first_name }}</h5>
							<h6> Your email : {{user.email}}</h6>
							<h8>  Department : {{user.profile.department_name}}</h8><br>
							<h8> You are {{user.profile.role}}</h8>
						</div>
						<hr class="bg-white" />
				
					    <!-- <ul class="list-unstyled components tabs" style="margin-bottom: 40px;">
							
							<li class="active">								
							 <a href="#" class=" text-black">Chat with group</a>								
							</li>
							
							
							<li>
								<a href="#" class="text-black">fils uplaoded</a>
							</li>
							
							<li>
							<a href="#" class="text-black">Upload fil</a>
								
							</li>
							
							<li>
								<a href="#" class="text-black">all shools</a>
							</li>
							<li>
								<a href="#" class="text-black">all departments</a>
							</li>
							<li>
								<a href="#" class="text-black">Groups</a>
							</li>
							
							<li>
								<a href="#"class="text-black" >Group member</a>
							</li>
							
							<li>
								<a href="#" class="text-black">Group roject</a>
							</li>
							
							<li>
								<a href="#" class="text-black">Projects of 70-85% makrs</a>
							</li>
							
							<li>
								<a href="#" class="text-black">All projects done</a>
							</li>
							
						</ul>   -->
					</nav>  
		<!-- </nav> -->
	
		<!-- Page Content -->
		<div class="tabs-content">
			{% if messages %}
			<div id="messages"
				style="width: 80%; height: fit-content; color: green; background: lightgreen; margin-top: 50px; margin-left: 25px; padding: 20px; text-align: center; border-radius: 10px;">
				{% for message in messages %}
				{% if message.tags %} {% endif %} {{ message }}
				{% endfor %}
			</div>
			{% endif %}
           <div class="details" style="margin-left: 350px; margin-top: 100px;">
			{% for rol in rols %}
			{{rol.department_name}}</br>
			{% endfor %}

			{% for member in members %}
			{{member.member_names}}
			{% endfor %}</br>
			{% for supervisor in supervisors %}
			{{supervisor.supervisor_name}}
			{% endfor %}</br>
			{{user}}
			</div>
		</div>
		
</div> 


{% endblock %}

<!-- hhhhhhh -->