{% extends 'base.html' %}
        {% block content %}
       <div class="cont">

       </div>


       <div class="row">
        <div class="col-sm-8 ml-4 mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">This system is for only final year student </h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <h3>{{ Project.project_name }}</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mr-4 mt-3 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Annoucements</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      
      {% endblock %}
   