{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="col-sm-4 mr-4 mt-3 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Register User Here</h5>
            
            <form method="post" novalidate>
                {% csrf_token %}
            
                {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
            
                    {% render_field field class="form-control" %}
            
                    {% if field.help_text %}
                      <small class="form-text text-muted">
                        {{ field.help_text }}
                      </small>
                    {% endif %}
                  </div>
                {% endfor %}
            
                <button type="submit" class="btn btn-success">Post</button>
              </form>
            <!-- <form method="post" action="">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_subject">Registration number</label>
                    <input type="text" class="form-control" id="id_subject" name="subject">
                  </div>
                  <div class="form-group">
                          <label for="id_subject">Full name</label>
                          <input type="text" class="form-control" id="id_subject" name="subject">
                        </div>
                  <div class="form-group">
                      <label for="id_subject">department</label>
                      <input type="text" class="form-control" id="id_subject" name="subject">
                  </div>
                  
                  <div class="form-group">
                        <label for="id_subject">email</label>
                        <input type="text" class="form-control" id="id_subject" name="subject">
                    </div>
                  <div class="form-group">
                        <label for="id_subject">active</label>
                        <input type="checkbox" class="form-control" value ="active" id="id_subject" name="subject">

                        
                </div>
                  
                  <div class="form-group">
                          <label for="id_subject">select user role</label>
                          <select name="select" id="id_subject" class="form-control">
                                <option value="student">---</option>
                              <option value="student">staff</option>
                              <option value="student">admin</option>
                              <option value="student">student</option>
                          </select>
                  </div>
                  
                  <button type="submit" class="btn btn-success">Add</button>
                </form> -->

          </div>
        </div>
      </div>
    </div>
  


{% endblock %}